
.pagination {
    color: black;
    padding: 1% 0 4px 1%;
}
.pagination__link {
    color: black;
}
/* --------------main container  */

.singleProduct__container{
    margin: 1% 5%;
    background-color: #fff;
    padding: 2%;
}

/* -------- banner  */

.saleBanner {
    height: 100%;
    background-image: url("/img/speakerBanner.webp");
    
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-rows: 8vh 7vh;
    align-items: center;

    padding: 2% 0 0 0;
    background-color: #000;
    text-transform: uppercase;
    color: white;
}

.saleBanner__heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
    font-size: 35px;
}

.banner__heading2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 25px;
}

.banner__sale {
    grid-column: 2 / 3;
    grid-row: 1 / 3;


    font-size: 120px; 
}
/* --------------product grid  */

.singleProduct__gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 2% 0 0 0;
}

.section1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
   
}

.section2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0 0 0 2%;
}


.section3 {
    grid-column: 1 /2;
    grid-row: 2 /3;
}

.section4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0 0 0 2%;
}
/* --------------image grid  */

.container__productImage {
    grid-column: 1;
    grid-row: 1/5;
}

.image__placeholder{
    position: relative;
}

.image__placeholderText{
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}

.productImage {
  
    height: 70vh;
    width: 100%;
    display: block;
    overflow: hidden;
   background: radial-gradient(#eadddd, #fccac6, #fff9f9); 
   z-index: -50;
} 


/* ------------product information style  */


.productName {
    color: rgba(163, 145, 97, 1);
    text-transform: uppercase;
}

.otherProducts__p {
    color: rgba(163, 145, 97, 1);
}

.productPrice {
    display: flex;
    justify-content: space-between;
}

.currentPrice {
    color: rgba(163, 145, 97, 1);
    font-size: x-large;
}

.previousPrice {
    color: #444141;
    text-decoration: line-through;
    font-size: medium;
    margin-right: 20px;
}

.productInfo {
    color: black;
    padding: 4% 0;
}

/* ------------buttons style  */

.buttonFlexbox {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.actionButton {
    background-color: rgba(163, 145, 97, 1);
    color: white;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    height: 5vh;
}

/* ------------paypal  */

.productVersion__container {
    border: 2px solid rgb(210, 208, 208);
    color: black;
}


.productVersion {
    padding: 1%;
}

.productVersion__red {
     color: red;
}

.productVersion__required {
    display: flex;
    float: right;
    justify-content: space-between;
}


.addToCart {
    background-color: rgb(222, 222, 222);
    height: 210px;
    padding: 2%;

    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr 1fr;
}

.addToCart__Qty {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: flex-start;


    text-align: center;
    gap: 5px;
    padding: 2% 0 0 2%;
    color:  rgba(163, 145, 97, 1);
    font-weight: 800;
}

.addToCart input {
    width: 40px;
    padding: 0.5rem;
    height: fit-content;
}

.addToCart__btn {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}

.paypalButton1 {
    background-color: rgba(163, 145, 97, 1);
    color: white;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    height: 5vh;
    font-size: 18px;
}


.spanText {
    color: rgba(163, 145, 97, 1);
    text-transform: uppercase;
    font-size: 20px;
    padding: 2%;
}



/* --------------additional info  */
.productInfo__additional {
    grid-column: 2;
    margin-right: 2rem;
}

.additional__ul {
    display: grid;
    grid-template-columns: 1fr 2fr;
    list-style: none;
    grid-column: 1/2;
    padding: 0;
    
}

.additional__ul p {
    background-color: rgb(222, 222, 222);
    padding: 10px;
    border: 1px solid rgb(195, 195, 195);
    grid-column: 1;
    margin: 0%;
    text-transform: uppercase;


}

.spanFetch {
    background-color: #fff;
    border: 3px solid rgb(222, 222, 222);
    height: 100%;
    width: 100%;
    grid-column: 2;
    text-transform: none;
    text-align: center;
}


.product__description {
    grid-column: 1;
}

.description__ul{
    list-style: none;
}

.contactBanner {
    text-align: center;
    background-color: #000;
    color: rgb(201, 184, 135);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;

}



/* ------------ */

@media (max-width: 1200px) {
    .saleBanner__heading {
        font-size: 30px;
    }
    
    .banner__heading2 {
        font-size: 20px;
    }
    
    .banner__sale {
        font-size: 110px
    }
}

@media (max-width: 992px) {
    .saleBanner__heading {
        font-size: 25px;
    }
    
    .banner__heading2 {
        font-size: 15px;
    }
    
    .banner__sale {
        font-size: 100px
    }
}

@media (max-width: 768px) {
    .saleBanner {
        display: grid;
        grid-template-columns: 5fr 1fr 1fr;
        grid-template-rows: 10vh 5vh;
    }

    .saleBanner__heading {
        font-size: 20px;
    }
    
    .banner__heading2 {
        font-size: 10px;
    }
    
    .banner__sale {
        font-size: 80px
    }

    
}